.App {
  text-align: center;
  padding: 5px;
}

.HighOrderFunction, .PureComponent {
  border: 2px solid red;
  padding: 5px;
  border-radius: 30px;
  
}
.PureComponent{
  margin-top: 5px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.card{
  border: 1px solid red;
  padding: 4px;
  border-radius: 10px;
}
.content {
  line-height: 25px;
}